.planet-details.row
    .medium-6.columns
        h2= star['name']
        p Mass: #{star['mass'] or '?'}
        p Radius: #{star['radius'] or '?'}
        p Distance: #{star['parsecs'] or '?'} parsecs
        p Planets: #{star['planets']}
        a(href='star/#{star['name']}') System for #{star['name']}
    .medium-6.columns
    - if star['radius']
        svg(id="chart#{star['id']}", viewBox='0, 0, 250, 250')
        script.
            radius=#{star['radius'] or 0};
            colour="yellow";
            tag="#chart#{star['id']}";

        script(src='/static/scripts/d3.v3.min.js')
        script(src='/static/scripts/chart.js')
